<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
</head>
<body>
   <form method="POST" action="/registro">
        <label>
            Ingrese su nombre: 
        </label>
        <br>
        <input type="text" name="estudiante">
        <br><br>
        <label>
            Ingrese su correo: 
        </label>
        <br>
        <input type="email" name="correo">
        <br><br>
        <label>
            Ingrese su password: 
        </label>
        <br>
        <input type="password" name="contrasena">
        <br><br>
        <button type="submit">
            MATRICULAR ESTUDIANTE
        </button>
   </form>
   <br><br>
   {{listado}}
</body>
</html>